@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 26px; }

h2 {
  margin: 0 0 80px 0;
  padding: 40px 0;
  font-weight: bold;
  text-align: center;
  background: #039BE5;
  color: #fff; }

h3 {
  margin: 50px 0;
  font-weight: bold;
  color: #0D47A1; }

h3.first {
  margin-top: 50px; }

h4 {
  margin: 40px 0;
  font-weight: bold;
  color: #0D47A1; }

pre {
  padding-top: 30px;
  margin-top: 40px; }

a {
  font-weight: bold;
  color: #039BE5; }

a:hover {
  color: #0D47A1; }

#links ul {
  list-style-type: none; }

.alert {
  padding-left: 30px; }

.table > tbody > tr > td, .table > tbody > tr > th,
.table > tfoot > tr > td, .table > tfoot > tr > th,
.table > thead > tr > td, .table > thead > tr > th {
  border-top: none;
  padding: 15px 8px 13px 8px; }

.table img {
  border: 1px solid #999; }

.table > tbody {
  border-bottom: 2px solid #ddd;
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd; }

.clear {
  clear: both; }

.btn-primary {
  background-color: #039BE5;
  border: 1px solid #039BE5; }

.btn-primary:hover {
  background-color: #0D47A1;
  border: 1px solid #0D47A1; }

.btn-link {
  color: #039BE5; }

.btn {
  margin-bottom: 10px; }

.checkbox-line {
  margin-bottom: 40px; }

@media (min-width: 768px) {
  h3.first {
    margin-top: 50px; } }

@media (min-width: 992px) {
  h3.first {
    margin-top: 0; } }

@media (min-width: 1200px) {
  h3.first {
    margin-top: 0; } }

@media (min-width: 1500px) {
  h3.first {
    margin-top: 0; } }

.navbar {
  margin-bottom: 0px;
  padding: 5px 0; }

.navbar-brand {
  padding: 0 15px 0 25px;
  margin-top: 2px; }

.navbar-brand img {
  width: 50px; }

.navbar-nav > li > a {
  padding-top: 10px; }

.navbar-default,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  background: #E1F5FE;
  border: none; }

.navbar-default .navbar-nav > li > a {
  color: #0288D1; }

.navbar-default .navbar-nav > li > a:hover {
  color: #0D47A1; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background: #E1F5FE;
  color: #0D47A1;
  text-decoration: underline; }

.nav .open > a,
.nav .open > a:focus, .nav .open > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background: #E1F5FE; }

.dropdown-menu {
  background: #E1F5FE; }

.dropdown-menu > li > a {
  color: #039BE5; }

.dropdown-menu > li > a:hover {
  background: #E1F5FE;
  color: #0D47A1; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #039BE5; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #0D47A1; }

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 18px; } }

/* FOOTER ------------------------------------------------------------------- */
footer {
  background: #B3E5FC; }

footer .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #B3E5FC;
  color: #0D47A1;
  padding-bottom: 50px;
  font-size: 14px;
  line-height: 23px; }

.footer-title {
  font-weight: bold;
  margin-top: 50px; }

.footer-title-top {
  margin-bottom: 8px; }

.footer-list {
  padding: 0 60px; }

.footer-list-last {
  text-align: center;
  font-weight: bold;
  padding: 0 30px; }

.footer-logo img {
  margin-top: 50px;
  margin-bottom: 75px;
  border: none; }

.copyright {
  height: 50px;
  color: #039BE5;
  font-size: 12px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #E1F5FE; }

i.fa {
  margin-left: 6px; }

img {
  margin-bottom: 10px;
  border: 1px solid #e7e7e7; }

.submissions-grid img {
  width: 100px; }

.delete-buttons {
  margin-top: 20px; }

.content-photos {
  padding-bottom: 0; }

.content-photos img {
  margin-bottom: 40px; }

.content-photos-list,
.content-galleries,
.content-submissions {
  margin-top: -25px; }

.photos-grid td, .photos-grid th,
.submissions-grid td, .submissions-grid th {
  text-align: center; }

/*# sourceMappingURL=app.css.map */
