/* FOOTER ------------------------------------------------------------------- */


footer {
  background: $footer-background;
}
footer .container {
  display: flex;
  background:$footer-background;
  color: $secondary-color;
  padding-bottom: 50px;
  font-size: 14px;
  line-height: 23px;
}
.footer-title {
  font-weight: bold;
  margin-top: 50px;
}
.footer-title-top {
  margin-bottom: 8px;
}
.footer-list {
  padding: 0 60px;
}
.footer-list-first {
}
.footer-list-last {
  text-align: center;
  font-weight: bold;
  padding: 0 30px;
}
.footer-logo img {
  margin-top: 50px;
  margin-bottom: 75px;
  border: none;
}
.copyright {
  height: 50px;
  color: $primary-color;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
  background: $navbar-background;
}
i.fa {
  margin-left: 6px;
}
