$primary-color: #039BE5;
$secondary-color: #0D47A1;
$footer-border: #81D4FA;
$footer-background: #B3E5FC;
$footer-color: #1E52A4;
$navbar-color: #0288D1;
$navbar-background: #E1F5FE;

$font-stack: 'Open Sans', sans-serif;
